.body {
  width: 360px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 20px;
  background-color: #131313;
}

.header__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Inter", "Open Sans", sans-serif;
  font-size: 16px;
  list-style-type: none;
}

.header__menu-item {
  color: #f5f5f5;
  text-decoration: none;
}

.header__menu-item-active {
  color: #f5f5f5;
}

.container {
  position: relative;
  background-color: #131313;
}

.cover {
  width: 360px;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "EB Garamond", "Cormorant Garamond", serif;
  font-size: 72px;
  color: #fff;
}

.span {
  display: block;
  height: 72px;
}

.span_start {
  text-align: start;
  margin-left: 20px;
}

.span_center {
  text-align: center;
}

.span_end {
  text-align: end;
  margin-right: 24px;
}

.image_cover {
  width: 339px;
  min-height: 198px;
  margin: auto;
  margin-left: 21px;
  margin-top: 34px;
}

.intro {
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 37px;
  font-family: "Inter", "Open Sans", sans-serif;
  font-size: 16px;
  color: #ccc;
  background-color: #131313;
  overflow: hidden;
}

.data_line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  overflow: hidden;
}

.align_left {
  width: 210px;
  white-space: pre-line;
  line-height: 120%;
}
.align_right {
  white-space: nowrap;
}

.mid_line {
  line-height: 21.6px;
  color: #f5f5f5;
}

.last_line {
  margin-top: 24px;
  line-height: 21.6px;
  color: #f5f5f5;
}

.reasons {
  font-family: "Inter", "Open Sans", sans-serif;
  font-size: 20px;
  color: #131313;
  line-height: 27px;
  background-color: #fee42a;
  overflow: hidden;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-weight: 500;
  font-family: "EB Garamond", "Cormorant Garamond", serif;
  font-size: 28px;
  line-height: 115%;
}

h2 {
  font-weight: 400;
  font-family: "Inter", "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 27px;
}

h3 {
  font-weight: 500;
  font-family: "EB Garamond", "Cormorant Garamond", serif;
  font-size: 22px;
  line-height: 135%;
}

.question-part-1 {
  text-align: end;
}

.question-part-2 {
  text-align: start;
}

.respons {
  margin-top: 32px;
  margin-bottom: 32px;
}

.list_reasons {
  margin-top: 16px;
  padding-bottom: 39px;
  font-size: 16px;
  font-family: "Inter", "Open Sans", sans-serif;
  padding-left: 18px;
  padding-right: 0;
  line-height: 21.6px;
}

.reasons_ul-li {
  margin-bottom: 16px;
}

.how_to {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  background-color: #131313;
  overflow: hidden;
}

.how1 {
  text-align: end;
  color: #f5f5f5;
}

.how2 {
  text-align: start;
  color: #f5f5f5;
}

.how_response {
  font-family: "Inter", "Open Sans", sans-serif;
  color: #f5f5f5;
  line-height: 135%;
  margin-top: 32px;
  font-size: 20px;
  margin-bottom: 32px;
}

.card {
  width: 319px;
  display: flex;
  flex-wrap: wrap;
  background-color: #343434;
  margin-left: 20px;
  margin-right: 21px;
  border-radius: 30px;
  margin-bottom: 32px;
  padding-bottom: 20px;
}

.card-list {
  list-style-type: none;
  flex-direction: column;
  overflow: hidden;
  background-color: #131313;
  padding-bottom: 28px;
}

.card__author {
  display: flex;
  flex-direction: column;
}

.card__author-image {
  padding-left: 20px;
  padding-top: 20px;
  width: 100px;
  height: 100px;
}

.card__author-name {
  margin-top: 8px;
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 135%;
  color: #f5f5f5;
  padding-left: 20px;
  padding-bottom: 8px;
}

.card_theme_bright {
  background-color: #fee42a;
}

.card__title {
  font-family: "EB Garamond", "Cormorant Garamond", serif;
  font-size: 22px;
  line-height: 135%;
  color: #f5f5f5;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.card__text {
  font-family: "Inter", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 21.6px;
  color: #f5f5f5;
  padding-left: 20px;
  padding-right: 20px;
}

.card__title_bright {
  font-family: "EB Garamond", "Cormorant Garamond", serif;
  font-size: 22px;
  line-height: 135%;
  color: #131313;
  padding-top: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.card__text_bright {
  font-family: "Inter", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 21.6px;
  color: #131313;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 62px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #131313;
  border-top: 1px solid #fee42a;
}

.footer__copy {
  font-family: "Inter", "Open Sans", sans-serif;
  font-size: 16px;
  color: #f5f5f5;
}

.footer__links {
  display: flex;
  flex-direction: row;
  font-family: "Inter", "Open Sans", sans-serif;
  font-size: 14px;
  list-style-type: none;
}

.footer__links_item {
  color: #f5f5f5;
  text-decoration: none;
  margin-left: 16px;
}
